body {
    background: #fff;
    color: #000;
    font-family: Arial, sans-serif; /* see if there is a better font online */
    margin: 0;
    padding: 0;
}

.header-spacer {
    height: 40px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.layout-table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

.layout-table td {
    padding: 10px;
}

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }

.nav-link {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    text-decoration: underline;
}

img {
    max-width: 20%;
    height: auto;
}

.location-prompt {
    font-size: 1.6rem;   
    font-weight: 500;  
    text-align: center;  
    margin-top: 20px;  
    font-family: Georgia, serif; /*  more Calvino-esque -- maybe change*/
}
